.footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
}
  
.footer-container {
    display: flex;
    flex-direction: column; /* Para telas menores */
    align-items: center; /* Centraliza os itens */
    justify-content: center;
}

.contact-info {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento inferior */
}

.social-links {
    display: flex;
    justify-content: center; /* Centraliza os links */
    gap: 15px; /* Espaçamento entre os ícones */
}

.social-links a {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .footer-container {
        flex-direction: row; /* Muda para linha em telas maiores */
        justify-content: space-between; /* Espaça os elementos */
    }

    .contact-info {
        text-align: left; /* Alinha o texto à esquerda */
    }
}
  