.agendaContainer {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
.gridContainer {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

/* Estilo  evento */
.evento {
  background-color: #fcd40bde;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.evento:hover {
  background-color: #e25050; 
}

.titulo {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.data {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.descricao {
  font-size: 0.9em;
  color: #666;
}

@media (min-width: 768px) {
  .gridContainer {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
  }

  .evento {
    flex: 1 0 45%; 
    margin: 10px; 
  }
}

@media (min-width: 1200px) {
  .evento {
    flex: 1 0 30%; 
  }
}
